modules/web/src/com/company/sample/ws/wsdl/customer.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://company.com/ws/schemas" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://company.com/ws/definitions" targetNamespace="http://company.com/ws/definitions">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://company.com/ws/schemas">
            <xs:element name="createCustomerRequest" type="sch:CreateCustomerRequestType"/>
            <xs:element name="createCustomerResponse" type="sch:CreateCustomerResponseType"/>
            <xs:complexType name="CreateCustomerRequestType">
                <xs:sequence>
                    <xs:element name="firstName" type="xs:string"/>
                    <xs:element name="lastName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CreateCustomerResponseType">
                <xs:sequence>
                    <xs:element name="id" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createCustomerRequest">
        <wsdl:part element="sch:createCustomerRequest" name="createCustomerRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createCustomerResponse">
        <wsdl:part element="sch:createCustomerResponse" name="createCustomerResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Customers">
        <wsdl:operation name="createCustomer">
            <wsdl:input message="tns:createCustomerRequest" name="createCustomerRequest"> </wsdl:input>
            <wsdl:output message="tns:createCustomerResponse" name="createCustomerResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CustomersSoap11" type="tns:Customers">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createCustomer">
            <soap:operation soapAction=""/>
            <wsdl:input name="createCustomerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createCustomerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CustomersService">
        <wsdl:port binding="tns:CustomersSoap11" name="CustomersSoap11">
            <soap:address location="http://localhost:8080/app/ws/customerService/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>